body {
    background-color: #f7ede2;
    color: #005f73;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.listItem {
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px;
    grid-template-rows: 1;
    border : 3px solid white;
    width: 50%;
    border-radius: 25px;
    background-color: #e9d8a6;
    border: none;
    margin: 10px 0;
}

.listItem p {
    display: flex;
    justify-content: center;
}

.listItem button {
    border-radius: 100%;
}

.tick {
    background-image: url(/Images/check.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #0a9396;
    height: 50px;
    width: 50px;
    border: none;
}

.lineThrough {
    text-decoration: line-through;
}

.delete {
    background-image: url(/Images/delete.svg);
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
    background-color: #ae2012;
    color: black;
    height: 50px;
    width: 50px;
    border: none;
}

.edit {
    background-image: url(/Images/edit.svg);
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
    background-color: #ee9b00;
    height: 50px;
    width: 50px;
    border: none;
}

h1 {
    text-align: center;
}
