* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(270deg, #00374d, #005f73);
    color: #e9d8a6;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
}

.header img {
    width: 10%;
    border-radius: 50%;
}

.list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.input-bar {
    position: relative;
    width: 75%;
}

.input-bar input {
    background-color: #00374d;
    color: #e9d8a6;
    border: none;
    border-radius: 3rem;
    height: 3rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.input-bar input:focus {
    background-color: #00374d;
    outline: none;
}

.input-bar button {
    background-color: #00374d;
    transition: background-color 0.3s ease;
    color: #e9d8a6;
    border: none;
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 0;
    font-size: 1rem;

}

.input-bar button:hover {
    background-color: #277da1;
}

#list-container {
    width: 75%;
    padding: 0;
    border: 2px solid #e9d8a6;
    border-radius: 1rem;
    min-height: 500px;
    max-height: 500px;
}

.listItem {
    background-color: #e9d8a6;
    color: #00374d;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem 3rem;
    border: none;
    border-radius: 25px;
    height: 3rem;
    margin: 0.5rem 0.5rem;
    transition: background-color 1s ease;
}

.listItem p {
    text-align: center;
}

.listItem button {
    border-radius: 50%;
}

.tick {
    background-color: #43aa8b;
    background-image: url(/Images/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 3rem;
    width: 3rem;
    transition: background-color 0.3s ease;
}

.tick:hover {
    background-color: #4d908e;
}

.lineThrough {
    text-decoration: line-through;
    background-color: #43aa8b;
}

.edit {
    background-color: #ee9b00;
    background-image: url(/Images/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 3rem;
    width: 3rem;
    transition: background-color 0.3s ease;
}

.edit:hover {
    background-color: #df7a14;
}

.delete {
    background-color: #ae2012;
    background-image: url(/Images/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 3rem;
    width: 3rem;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: #902327;
}

h1 {
    font-size: 2rem;
    margin-left: 50px;
}

h2 {
    font-size: 1.5rem;
}

img {
    border-radius: 30px;
    opacity: 90%;
    margin-top: 2em;
    width: 50%;
}